@use '../../../../assets/scss/' as *;

.dropdown {
    position: relative;
    z-index: 99;
    // @include flex(center, center);

    &__toggle {
        position: relative;
        @include flex(center, center);

        border: none;
        outline: none;
        cursor: pointer;

        background-color: transparent;

        & > i {
            font-size: 2.25rem;
            color: $txt-main-color;
        }

        &__badge {
            position: absolute;
            top: -12px;
            right: -10px;

            @include flex(center, center);
            width: 25px;
            height: 25px;

            font-size: 1rem;
            border-radius: 50%;
            background-color: $main-color;
            color: $txt-white;
        }
    }

    &__content {
        position: absolute;
        top: 100%;
        right: -26px;
        font-size: 1rem;
        overflow: hidden;

        width: max-content;
        max-width: 400px;

        background-color: $main-bg;
        box-shadow: $box-shadow;

        border-radius: $border-radius;

        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.25s ease;

        &.active {
            transform: scale(1);
            transition: transform 0.25s $transition-cubic;
        }
    }

    &__footer {
        padding: 20px;
        text-align: center;
    }
}

.notification-item {
    @include flex(center, flex-start);
    padding: 6px 20px;

    &:hover {
        background-color: $admin-second-bg;
        cursor: pointer;
    }
    & > i {
        margin-right: 20px;
        font-size: 1.5rem;
    }
}
