$main-bg: #fff;
$main-color: #4267b2;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$error-message: #dc143c;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    'blue': #4267b2,
    'orange': #ffa500,
    'pink': #ff1493,
    'yellow': #ffd700,
    'white': #fff,
    'black': #000,
    'red': #dc143c,
    'main': $main-color,
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

$primary-font: 'Montserrat', sans-serif;
$second-font: 'M PLUS Rounded 1c', sans-serif;

@keyframes border {
    0% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
}

// Admin variables
$admin-second-bg: #fafafb;
$admin-main-color: #349eff;
$admin-second-color: #62b4ff;

$admin-main-bg-dark: #2d2d2d;
$admin-second-bg-dark: #202020;
$admin-txt-color-dark: #bbbbbb;
$admin-box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

$admin-main-color-blue: #349eff;
$admin-second-color-blue: #62b4ff;

$admin-main-color-red: #fb0b12;
$admin-second-color-red: #ff4a6b;

$admin-main-color-cyan: #10d4d2;
$admin-second-color-cyan: #2ae9e6;

$admin-main-color-green: #019707;
$admin-second-color-green: #4caf50;

$admin-main-color-orange: #d68102;
$admin-second-color-orange: #fca11a;

$sidebar-width: 300px;
$border-radius: 15px;
$topnav-height: 110px;
$transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
