@use '../../scss/' as *;

.authen {
    @include flex(flex-start, space-evenly);
    @include mobile {
        flex-direction: column-reverse;
    }
    padding-top: 24px;
    gap: 30px;

    &__image {
        @include mobile {
            display: none;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > * {
            width: 100%;
            min-width: 280px;
            max-width: 350px;
        }

        @include mobile {
            width: 100%;
            @include flex(center, center);
        }

        &__title {
            text-align: center;
        }
    }
    &__error {
        color: $error-message;
        font-size: 1.1rem;
        font-weight: 400;
    }
}
