@use '../../assets/scss/' as *;
.layout {
    color: $txt-main-color;

    &__content {
        padding-left: $sidebar-width;
        background-color: $admin-second-bg;
        min-height: 100vh;

        &__main {
            padding: 30px;
        }
    }
}
