@use '../../../scss/' as *;
.topnav {
    @include flex(center, space-between);
    padding: 30px;
    height: $topnav-height;

    &__search {
        position: relative;

        @include flex(center, center);
        height: 50px;

        background-color: $main-bg;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        overflow: hidden;

        & > input {
            width: 100%;
            height: 100%;
            padding: 10px 60px 10px 20px;
            font-size: 1.25rem;
            border-radius: $border-radius;
            color: $txt-main-color;
            background-color: $main-bg;
            outline: none;
            border: 2px solid transparent;
            transition: border 0.25s ease;
        }
        & > input:focus {
            border: 2px solid $main-color;
        }
        & > i {
            font-size: 1.75rem;
            position: absolute;
            right: 20px;
        }
    }

    &__right {
        @include flex(center, flex-start);

        &__item ~ &__item {
            margin-left: 30px;
        }

        &__user {
            @include flex(center, flex-start);
            &__image {
                width: 42px;
                height: 42px;
                overflow: hidden;
                margin-right: 10px;

                border-radius: 50%;
            }

            &__name {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }
}
