@use '../../scss/' as *;

.header {
    background-color: $main-bg;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height;

    z-index: 99;

    transition: height 0.2s ease;

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    .container {
        height: 100%;
    }

    &.shrink {
        height: $header-shrink-height;

        z-index: 100;

        box-shadow: $box-shadow;
    }

    &__logo {
        @include flex(center, center);
        position: absolute;
        inset: 0;

        pointer-events: none;

        img {
            height: 28px;
        }
    }

    &__menu {
        @include flex(center, space-between);

        height: 100%;

        font-size: 1.6rem;

        &__item ~ &__item {
            margin-left: 40px;

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 10px;
            }
        }

        &__item.active {
            font-weight: 600;
            color: $main-color;
        }

        @media (hover: hover) {
            &__item:hover {
                color: $main-color;
            }
        }

        &__mobile-toggle {
            display: none;

            @include tablet {
                display: block;
                font-size: 2.5rem;
            }
        }

        &__left,
        &__right {
            @include flex(center, center);

            height: 100%;
        }

        &__left {
            &-close {
                display: none;
            }

            @include tablet {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 30px;

                width: 100%;
                height: 100vh;

                flex-direction: column;
                justify-content: flex-start;

                background-color: $main-bg;

                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &-close {
                    display: block;
                    position: absolute;
                    left: 20px;

                    font-size: 2.5rem;
                }
            }
        }

        &__right {
            font-size: 2.2rem;
            &__item {
                @include flex(center, center);
                cursor: pointer;

                @include tablet {
                    margin-left: 10px;
                }
            }

            @include mobile {
                font-size: 1.6rem;
            }
        }
    }
}
