@use './assets/scss/' as *;

.user {
    &__avatar {
        $size: 35px;
        width: $size;
        height: $size;
        border-radius: 50%;
        margin-right: 6px;
        @include mobile {
            width: 20px;
            height: 20px;
        }
    }

    &__name {
        font-size: 1.5rem;
        color: $txt-main-color;
        @include mobile {
            font-size: 1.2rem;
        }
    }
}
